# -----------------------------------------------------
# Local Development
# -----------------------------------------------------

# Backend Base URL
# VITE_BACKEND_URL=http://localhost:8000

# Backend API URL
# VITE_API_URL=http://localhost:8000/api/v1


# -----------------------------------------------------
# Production
# -----------------------------------------------------

VITE_BACKEND_URL=https://admin.bennycards.com

VITE_API_URL=https://admin.bennycards.com/api/v1