# -----------------------------------------------------
# Local Development
# -----------------------------------------------------

# Backend Base URL
LOCAL_BACKEND_URL=http://localhost:8000

# Backend API URL
VITE_API_URL=http://localhost:8000/api/v1


# -----------------------------------------------------
# Production
# -----------------------------------------------------

LOCAL_BACKEND_URL=https://api.bennycards.com

VITE_API_URL=https://api.bennycards.com/api/v1