# -----------------------------------------------------
# Local Development
# -----------------------------------------------------

# Backend API URL
# API_URL=http://localhost:8000/api/v1


# -----------------------------------------------------
# Production
# -----------------------------------------------------

# Backend API URL
# API_URL=https://admin.bennycards.com/api/v1